{% extends 'base/base.html' %}
{% block title %} Error De Acceso {% endblock %}
{% block encabezado %}
{%block navbar%}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand" href="#"> Softmedic</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>       
		</button>
	  
		<div class="collapse navbar-collapse" id="navbarColor01">
		  <ul class="navbar-nav mr-auto">
			<li class="nav-item active">
			  <a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item active">
			  <a class="nav-link" href="{% url 'login' %}">Volver al inicio</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="#"></a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="#"></a>
			</li>
		  </ul>
		</div>
		
		
	</nav
{% endblock %}
<h1> Error De Acceso </h1>
{%  endblock %}
{% block content %}

    <p> El  usuario y la contraseña no coinciden o no existen. </p>
{% endblock %}
     