{% extends 'base/base.html' %}
{% block navbar %}
{% endblock %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand" href="#"> Envio De  Solicitud</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>       
		</button>
	  
		<div class="collapse navbar-collapse" id="navbarColor01">
		  <ul class="navbar-nav mr-auto">
			<li class="nav-item active">
			  <a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item active">
			  <a class="nav-link" href="{% url 'privado' %}">Volver Al inicio </a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="#"></a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="#"></a>
			</li>
		  </ul>
		</div>
		
		
	</nav>
<form method="post">
	{% csrf_token %}
	{{ form.as_p }}
	<button class="btn btn-success" type="submit">Enviar Solicitud</button>
	<a class= "btn btn-primary" href="{% url 'usuario_crear' %}">Cancelar</a>
</form>
{% endblock %}