{% extends 'base/base.html'%}
{% block title%}
Login
{% endblock%}
{% block navbar%}
{% endblock%}
{% block  content%}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand" href="#">Softmedic</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>       
			</button>
			  
			<div class="collapse navbar-collapse" id="navbarColor01">
				<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Features</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Pricing</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">About</a>
				</li>
				</ul>
			</div>
			<div class="nav navbar-nav navbar-right">
					<a class="navbar-brand"  href="{% url 'login' %}">Iniciar Sesion</a>
			</div>

				
	</nav>
    <h1>Restaurar Contraseña </h1>
    <form id="formulario" method="post" action="">
        {% csrf_token%} 
		<label for="id_email">Correo:</label> {{ form.email }}
        <p><input class="btn btn-primary"  type="submit" value="Enviar"/></p>
        
    </form>
    <script  src="js/index.js"></script>




</body>

</html>

{% endblock %}